body{
	background: linear-gradient(to bottom, white, aqua);
	background: -moz-linear-gradient(top, white, aqua);
	background: -webkit-linear-gradient(top, white, aqua);
	text-align: center;
}

.galeria img{
	width: 200px;
	height: 200px;
	margin-top: 5px;
	border: 5px solid white;
}

.boton:hover + .galeria{
	visibility: hidden;
}

.boton{
	padding: 15px;
}
